{% extends "base_layout.html" %} {% block title %}Welcome{% endblock %} 
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('serveStaticResource', resource='css/timeline.css') }}">
    <link rel="stylesheet" href="{{ url_for('serveStaticResource', resource='css/morris.css') }}">
{% endblock %} 
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{{ heading_panel }}
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">

    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">

        <!-- /.panel .chat-panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->{% endblock %}
{% block js %}
    {{ super() }}
    <script src="{{ url_for('serveStaticResource', resource='js/raphael-min.js')}}"></script>
    <script src="{{ url_for('serveStaticResource', resource='js/morris.min.js')}}"></script>
    <script src="{{ url_for('serveStaticResource', resource='js/morris-data.js')}}"></script>
{% endblock %}